[flake8]
# TODO: Explore further plugins.
# Plugins:
# ANN   : flake8-annotations
# B,B9  : flake8-bugbear
# C     : McCabe code complexity
# D     : flake8-docstrings
# F     : pyflakes
# W,E   : pycodestyle (pep8) warnings and errors
select = ANN,B,B9,C,D,E,F,W

exclude =

extend-ignore =
    # No self type annotation.
    ANN101,
    # No cls type annotation.
    ANN102,
    # Whitespace before colons. (for black)
    E203,
    # Line break before binary operator. (for black)
    W503,

per-file-ignores =
    # Unused imports in init files.
    **/__init__.py:F401
    # Dynamically typed expressions (typing.Any) in test files.
    tests/*:ANN401

max-complexity = 10
max-line-length = 94
black-config = ./shared/pyproject.toml

docstring-convention = google